.navbar-brand,
.navbar-nav li a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
    background-color: rgb(8, 1, 49);
    font-display: 
}

.navbar-nav {
    line-height: 28px;

}


.navbar-form, .navbar-left {
    line-height: 45px;

}

.btn, .navbar {
    background-color: rgb(8, 1, 49);
}

td {
    padding-left: 5px;

}

#grad {
    height: 200px;
    background-color: black;
    background-image: linear-gradient(black,rgb(1, 1, 27), rgb(1, 1, 43),rgb(1, 1, 50),rgb(1, 1, 60)); /* Standard syntax (must be last) */
}


.panel {
    background-color: white;
    color: black;
    
}

.hero {
    position: relative;

    padding: 20px;
    margin: 0;
    background: black;
    background-image: url("../images/nasa.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: white;
  }

  .footer {
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 30px;
    background-color: black;
  }

  li {
    list-style-type: none;
}

.example1 {
    height: 50px;	
    overflow: hidden;
    position: relative;
   }
   .example1 h3 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(300%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: example1 5s linear infinite;
    -webkit-animation: example1 5s linear infinite;
    animation: example1 5s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes example1 {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes example1 {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes example1 {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
   }

   .ufo {
    animation: MoveUpDown 1s linear infinite;
    position: absolute;
    width: 150%;
    height: 150%;
    top: 0;
    right: 0;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      left: -150px;
    }
    50% {
      left: 50px;
    }
  }